/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* centrar horizontalmente el contenedor */
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: beige;
	font-family: Roboto;
}

/* ancho maximo definido */
#contenedor {
	width: 100%;
	max-width: 960px;
	margin: 1rem auto;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

button {
	display: block;
	margin: 1rem;
}

footer a {
	display: inline-block;
	margin: 0.5rem;}