/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* centrar horizontalmente el contenedor */
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: ;
	font-family: ;
}

/* ancho maximo definido */
#contenedor {
	width: 100%;
	max-width: 960px;
	margin: 1rem auto;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/* para centra el texto */
.centrado {
	text-align: center;
}

/* columnas de igual ancho */
.colIguales {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

/* columnas diferentes anchos */
.colDiferentes {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

footer a {
	display: inline-block;
	margin: 0.5rem;}

/* estilos para el nav y sus elementos */
nav, nav ul {
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: rgba(0, 150, 50, 0.3);
}

nav li {
	list-style: none;
	display: inline-block;
}
nav a {
	padding: 0.2rem;
	background-color: rgba(150, 50, 150, 0.6);
}

nav a:link {	color: rgba(200, 200, 200, 1.0);	}
nav a:visited {	color: rgba(50, 50, 50, 1.0);	}
nav a:hover {	color: rgba(250, 250, 250, 1.0);	}
nav a:active {	color: rgba(150, 0, 150, 1.0);	}